* {

    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 850px;
    max-width: 850px;
    height: 1200px;
    max-height: 1200px;
    margin: auto;
}

#column1 {
    background-color: aliceblue;
}

#column2 {
    background-color: lightgray;
}

#education {
    display: flex;

    margin: 2px;
    padding: 0px;
}

/* education 1 box */

.education-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    margin: 12px;
    background-color: beige;
    box-shadow: 2px 2px 2px grey;
}

.corner-decal {
    width: 0;
    height: 0;
    border-top: 20px solid red;
    border-right: 20px solid transparent;
    position: absolute;
}

.education-logo {
    width: 96px;
    height: 96px;
    align-self: center;
}

.education-institution {
    align-self: center;
    font-weight: bold;
    font-size: 0.9em;
    margin: 6px auto 0px auto;
}

.education-date {
    font-size: 0.85em;
    margin: 6px auto 0px auto;
}

.education-subject {
    align-self: center;
    margin: 6px auto 0px auto;
    font-size: 0.8em;
    font-style: italic;
}

.education-bullet-list {
    margin-top: 3px;
}

.education-bullet-list p {
    font-size: 0.8em;
    margin: 3px 0px;
}

.divider {
    height: 5px;
    background-color: black;
    margin: 0px 10px;
}

/* Education 2 Box */

#education2 {
    margin: 12px 2px;
    padding: 12px;
}

.education2-box {
    display: flex;
    background-color: beige;
    box-shadow: 2px 2px 2px grey;
}

.education2-image {
    width: 64px;
    height: 64px;
    padding: 6px;
    margin: auto;
}

.education2-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    padding-left: 6px;
}

.education2-text-container p {
    margin: 3px 0px;
}

.education2-institution {
    font-weight: bold;
}

.education2-subject {
    font-style: italic;
    font-size: 0.92em;
}

.education2-date {
    top: 6px;
    right: 12px;
    position: absolute;
    font-style: italic;
}

.education2-text {
    font-size: 0.88em;
}


.hidden {
    display: none;
}