* {
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 850px;
    max-width: 850px;
    height: 1200px;
    max-height: 1200px;
    margin: auto;
}

#column1 {
    grid-column: 1;
    background-color: lavender;
    padding: 10px;
}

#column2 {
    grid-column: 2;
    background-color: lightgray;
    padding: 10px;
}

h1 {
    font-size: 4.8em;
        margin-block-end: 0px;
        margin-block-start: 0px;
        text-align: center;
}

/* Header box style 1 */
.header-box * {

}

.header-box {
    display: flex;
    align-items: center;
    padding: 0px;
}

.header-icon-container {
    background-color: rgba(255, 255, 255, 0.486);
    width: 42px;
    max-width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    width: 24px;
    height: 24px;
}

.h2-style0 {
    flex-grow: 1;
    border-bottom: 2px solid black;
    padding: 5px;
    line-height: 32px;
    font-size: 1.3em;
    margin: 12px 10px 12px 12px;
}

.content-box {
    margin-left: 13px;
}

.job-box {
    margin-right: 20px;
    margin-bottom: 14px;
}

.job-header-line1 {
    position: relative;
    display: flex;
}

.job-header-line1>p {
    margin: 0px;
    line-height: 24px;
    padding: 0px 5px;
}

.job-title {
    font-weight: 700;
}

.job-dates {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0.7em;
            margin: 0px;
            padding: 0px;
}

.job-logo {
    width: 20px;
    height: 20px;
}

.job-header-line2 {
    display: flex;
    position: relative;
}

.job-company {
    margin: 0px;
    padding: 0px;
    font-style: italic;
    font-size: 0.9em;
}

.job-location {
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px 5px;
    font-size: 0.9em;
    font-style: italic;
}

.job-bullets>p {
    margin: 6px;
    font-size: 0.8em;
}

.education-box {
    margin-right: 20px;
}

.education-header-line1 {
    position: relative;
    display: flex;
}

.education-header-line1>p {
    margin: 0px;
    line-height: 24px;
    padding: 0px 5px;
}

.education-title {
    font-weight: 700;
}

.education-dates {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0.7em;
    margin: 0px;
    padding: 0px;
}

.education-logo {
    width: 20px;
    height: 20px;
}

.education-header-line2 {
    display: flex;
    position: relative;
}

.education-company {
    margin: 0px;
    padding: 0px;
    font-style: italic;
    font-size: 0.9em;
}

.education-location {
    position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px 5px;
    font-size: 0.9em;
    font-style: italic;
}

.education-bullets>p {
    margin: 6px;
    font-size: 0.8em;
}

.hidden {
    display: none;
}